<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Login as Admin</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="loginForm">
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" [readOnly]="true"  class="form-control" id="email" formControlName="email" [ngClass]="{'is-invalid':loginForm.get('email').dirty && loginForm.get('email').invalid}" placeholder="Enter email" required>
              <!-- <small id="emailHelp" class="form-text text-muted"></small> -->
              <div *ngIf="loginForm.get('email').dirty && loginForm.get('email').invalid" class="invalid-feedback">
                <div *ngIf="loginForm.get('email').hasError('required')">please provide a valid mail</div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
            </div>
            <!-- <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
            <div class="row">
              <div class="col-2">
                <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
              </div>
              <div class="col-4 align-items-center">
                <a href=""><small id="emailHelp" class="form-text text-muted pt-1">Forgot password ?</small></a>
              </div>
            </div>
            
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  