.row{
    margin-left: 7vw;
}
.image{
    
    height: 50vh;
}
input{
    outline: none;
    border-width: 1px;
    border-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
}